@import "../b2b/B2B/front-components/src/assets/styles/common/variables";

$container: 600px;
$margin: 10px;
$grid-column: $container / 2 -$margin;
$logo: 130px;
$font-large: 14px;
$font-small: 12px;

body {
  margin: 0;
  padding: 0;
}

a {
  color: $primary;
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
  margin-bottom: $margin;
}

p {
  margin-top: 0;
  margin-bottom: $font-large;
}

.email-container {
  max-width: $container;
  margin: 0 auto;
  font-family: 'Helvetica', Arial, sans-serif;
  font-weight: 200;
}

.email-content {
  max-width: $container;
  font-size: $font-large;
  display: inline-block;
}

.email-header {
  margin-top: 20px;
  margin-bottom: 50px;
  font-size: $font-small;
  min-height: 50px;
}

.grid {
  &-left {
    float: left;
    width: $grid-column;
    max-width: $grid-column;
  }

  &-right {
    float: right;
    width: $grid-column;
    max-width: $grid-column;
  }
}

.email-logo {
  width: 100%;
  max-width: $logo;
  height: auto;
}

.email-footer {
  background: $secondary;
  min-height: 40px;
  font-size: $font-small;
  color: $gray-100;
  padding: $margin $margin * 1.2;
  margin-top: $margin * 2;
}

.text {
  &-left {
    text-align: left;
  }
  &-right {
    text-align: right;
  }
}
